@model AstrologyWebsite.Models.Blog

<style>
    h1, h2, h3, h4, h5, h6, li, p, strong, em {
        background: transparent !important;
        color: #fff !important;
    }

    body, #main-wrapper, .blog-page-wrapper {
        background: #000 !important;
        /* color: #f5f6fa !important; */
    }

    .blog-thumbnail-box {
        text-align: center;
        margin-bottom: 2rem;
    }

        .blog-thumbnail-box img {
            display: inline-block;
            max-width: 100%;
            height: auto;
            border-radius: 12px;
            box-shadow: 0 4px 24px rgba(0,0,0,0.15);
        }

    .blog-contents img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        height: auto;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .blog-contents p > img:only-child {
        display: block;
    }

    .blog-contents p > img:not(:only-child) {
        display: inline;
        margin: 0 0.25em;
        vertical-align: middle;
        margin-top: 0;
        margin-bottom: 0;
    }

    .blog-title-lg,
    .meta-tag-box,
    .meta,
    .meta a,
    .blog-contents,
    .d_text,
    .post-author-info,
    .post-author-info h6,
    .post-author-info a,
    .tag-blog,
    .tagcloud a,
    .blog-post-social-networks,
    .blog-post-social-networks h6,
    .blog-post-social-networks a {
        color: #f5f6fa !important;
    }

        .meta a,
        .post-author-info a,
        .tagcloud a {
            text-decoration: underline;
            color: #8ab4f8 !important;
        }

            .meta a:hover,
            .post-author-info a:hover,
            .tagcloud a:hover {
                color: #fff !important;
            }

    .single-blog-item,
    .blog-contents,
    .meta-tag-box,
    .post-author-box,
    .tag-blog,
    .blog-post-social-networks {
        background: transparent !important;
    }

    .post-author-box {
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
        background: #232526 !important;
        color: #f5f6fa !important;
    }

    .post-author-avatar img {
        border-radius: 50%;
        border: 2px solid #444;
        background: #232526;
    }

    /* Optional: style scrollbars for dark mode */
    ::-webkit-scrollbar {
        background: #232526;
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background: #444;
        border-radius: 4px;
    }

    .blog-title-lg {
        color: #fff !important;
        text-align: center;
    }

    .blog-contents {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 1rem;

    }
</style>

<div id="main-wrapper" style="padding-top: 130px">
    <div class="site-wrapper-reveal ">
        <!-- Blog Page Area Start -->
        <div class="blog-page-wrapper section-space--pt_120 section-space--pb_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Single Blog Item Start -->
                        <div class="single-blog-item">
                            <div class="blog-thumbnail-box">
                                <a href="#" class="thumbnail">
                                    <img src="@(string.IsNullOrEmpty(Model.Avatar) ? Url.Content("~/User/images/blog/default-1170x672.webp") : Model.Avatar)" class="img-fluid" alt="Blog Image">
                                </a>
                            </div>
                            <div class="blog-contents">
                                <h3 class="blog-title-lg" style="color:white" >@Model.Title</h3>
                                <div class="row">
                                    <div class="col-lg-9 m-auto">
                                        <div class="meta-tag-box">
                                            <div class="meta date">
                                                <span>@Model.CreatedDate?.ToString("MMMM dd, yyyy")</span>
                                            </div>
                                            <div class="meta author">
                                                <span>
                                                    <a href="#">@Model.Author?.FullName</a>
                                                </span>
                                            </div>
                                            <div class="meta cat">
                                                <span>in <a href="#">Blog</a></span>
                                            </div>
                                        </div>
                                        <div class="mt-20 d_text">
                                            @Html.Raw(Model.Content)
                                        </div>
                                    </div>
                                </div>

                                <div class="row align-items-center">
                                    <div class="col-lg-6">
                                        <div class="blog-post-social-networks mt-20">
                                            <h6 class="title">Share this story on :</h6>
                                            <ul class="list">
                                                <li class="item">
                                                    <a href="https://twitter.com/" target="_blank" aria-label="Twitter">
                                                        <i class="social social_facebook"></i>
                                                    </a>
                                                </li>
                                                <li class="item">
                                                    <a href="https://facebook.com/" target="_blank" aria-label="Facebook">
                                                        <i class="social social_twitter"></i>
                                                    </a>
                                                </li>
                                                <li class="item">
                                                    <a href="https://instagram.com/" target="_blank" aria-label="Instagram">
                                                        <i class="social social_tumblr"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="tag-blog d-flex justify-content-lg-end justify-content-start mt-20">
                                            <h6 class="mr-2">Tags:</h6>
                                            <div class="tagcloud">
                                                <a href="#" class="selected">Blog</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="post-author-box clearfix section-space--mt_60">
                                    <div class="post-author-avatar">
                                        <img src="@(Model.Author?.Image ?? Url.Content("~/User/images/blog/author.webp"))" alt="" class="photo">
                                    </div>
                                    <div class="post-author-info">
                                        <h6 class="author-name">@Model.Author?.FullName</h6>
                                        <p class="mt-1"></p>
                                        <ul class="author-socials">
                                            <li><a href="http://facebook.com/" target="_blank">Facebook</a></li>
                                            <li><a href="http://twitter.com/" target="_blank">Twitter</a></li>
                                            <li><a href="#" target="_blank">Pinterest</a></li>
                                        </ul>
                                    </div>
                                </div>
                                @* Related posts and comments can be implemented here if you have the data *@
                            </div>
                        </div><!-- Single Blog Item End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Page Area End -->
    </div>
</div>
