@model IEnumerable<AstrologyWebsite.Models.Blog>
<style>
    .blog-page-wrapper{
        padding-bottom: 90px;
    }
</style>
<!-- breadcrumb-area start -->
<div class="breadcrumb-area" style="padding-top: 120px; background: black">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row breadcrumb_box  align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 text-center text-sm-start">
                        <h2 class="breadcrumb-title" style="color: white">Blog</h2>
                    </div>
                    <div class="col-lg-6  col-md-6 col-sm-6">
                        <ul class="breadcrumb-list text-center text-sm-end"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->

<div id="main-wrapper">
    <div class="site-wrapper-reveal">
        <!-- Blog Page Area Start -->
        <div class="blog-page-wrapper" style="background: black">
            <div class="container">
                <div class="row">
                    @foreach (var blog in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="single-blog-item mt-40">
                                <div class="blog-thumbnail-box">
                                    <a href="@Url.Action("BlogDetail", "Home", new { id = blog.Id })" class="thumbnail">
                                        <img src="@(string.IsNullOrEmpty(blog.Avatar) ? Url.Content("~/User/images/blog/default-570x370.webp") : blog.Avatar)" class="img-fluid" alt="Blog Images">
                                    </a>
                                    <a href="@Url.Action("BlogDetail", "Home", new { id = blog.Id })" class="btn-blog" style="color: white"> Read more </a>
                                </div>
                                <div class="blog-contents">
                                    <h6 class="blog-title">
                                        <a href="@Url.Action("BlogDetail", "Home", new { id = blog.Id })" style="color: white">@blog.Title</a>
                                    </h6>
                                    <div class="meta-tag-box">
                                        <div class="meta date">
                                            <span style="color: white">@blog.CreatedDate?.ToString("MMMM dd, yyyy")</span>
                                        </div>
                                        <div class="meta author">
                                            <span>
                                                <a href="#" style="color: white">@blog.Author?.FullName</a>
                                            </span>
                                        </div>
                                        <div class="meta cat">
                                            <span style="color: white">in <a href="#" style="color: white">Blog</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
        <!-- Blog Page Area End -->
    </div>
</div>
