@model AstrologyWebsite.Models.Service
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AstroUser> SignInManager
@inject UserManager<AstroUser> UserManager

@{
    var isLoggedIn = SignInManager.IsSignedIn(User);
    var isUserRole = isLoggedIn && User.IsInRole("User");
}
<style>
    h1, h2, h3, h4, h5, h6, p, li, strong, em {
        color: #fff !important;
    }

    .service-description-content {
        text-align: justify;
    }
</style>
<!-- breadcrumb-area start -->
<div class="breadcrumb-area" style="background: black">
    <div class="container" style="padding-top: 100px">
        <div class="row">
            <div class="col-12">
                <div class="row breadcrumb_box align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 text-center text-sm-start">
                        <h2 class="breadcrumb-title" style="color: white">@Model.ServiceName</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->

<div id="main-wrapper">
    <div class="site-wrapper-reveal">
        <div class="blog-page-wrapper section-space--pb_120" style="background: black">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-12">
                        <div class="single-blog-item mt-40">
                            <div class="blog-thumbnail-box text-center">
                                <img src="@Model.Avatar" class="img-fluid" alt="@Model.ServiceName" style="max-width:400px;" />
                            </div>
                            <div class="blog-contents mt-4">
                                <h3 class="blog-title" style="color: white">
                                    @Model.ServiceName
                                    @if (Model.Type != null)
                                    {
                                        <span style="font-size:1rem; color:#bbb;">(@Model.Type.ToString())</span>
                                    }
                                </h3>
                                <div class="meta-tag-box mb-3" style="color: #ccc;">
                                    @if (Model.Price.HasValue)
                                    {
                                        <span>Price: <strong style="color: #fff;">$@Model.Price.Value</strong></span>
                                    }
                                    @if (Model.Duration.HasValue)
                                    {
                                        <span class="ms-3">Duration: <strong style="color: #fff;">@Model.Duration.Value min</strong></span>
                                    }
                                </div>
                                <div class="service-description-content">
                                    @Html.Raw(Model.Description)
                                </div>
                                <div class="mt-5 text-center">
                                    @if (isUserRole)
                                    {
                                        <a href="@Url.Action("Booking", "Home", new { serviceId = Model.Id })" class="btn btn-success btn-lg">
                                            Book this service
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Login", "Account", new { returnUrl = Url.Action("Booking", "Home", new { serviceId = Model.Id }) })"
                                           class="btn btn-secondary btn-lg disabled" style="pointer-events:none;opacity:0.5;">
                                            Login to book
                                        </a>
                                    }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
