@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a asp-controller="Admin" asp-action="Index" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/image/logo.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/image/logo.png" alt="" height="17">
            </span>
        </a>
        <!-- Light Logo-->
        <a asp-controller="Admin" asp-action="Index" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/image/logo.png" alt="" height="40">
            </span>
            <span class="logo-lg">
                <img src="~/image/logo.png" alt="" height="40">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link menu-link @(currentController == "Admin" && currentAction == "Index" ? "active" : "")" asp-controller="Admin" asp-action="Index" role="button">
                        <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Dashboards</span>
                    </a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "Booking" && currentAction == "BookingManagement" ? "active" : "")" asp-controller="Booking" asp-action="BookingManagement" role="button">
                            <i class="ri-calendar-check-line"></i> <span data-key="t-dashboards">Booking</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "Reader" && currentAction == "Readers" ? "active" : "")" asp-controller="Reader" asp-action="Readers" role="button">
                            <i class="ri-user-star-line"></i> <span data-key="t-dashboards">Readers</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "User" && currentAction == "Users" ? "active" : "")" asp-controller="User" asp-action="Users" role="button">
                            <i class="ri-group-line"></i> <span data-key="t-dashboards">Users</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "Blog" && currentAction == "Blogs" ? "active" : "")" asp-controller="Blog" asp-action="Blogs" role="button">
                            <i class="ri-article-line"></i> <span data-key="t-dashboards">Blogs</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "Planet" && currentAction == "Planets" ? "active" : "")" asp-controller="Planet" asp-action="Planets" role="button">
                            <i class="ri-planet-line"></i> <span data-key="t-dashboards">Planets</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "Zodiac" && currentAction == "Zodiacs" ? "active" : "")" asp-controller="Zodiac" asp-action="Zodiacs" role="button">
                            <i class="ri-star-smile-line"></i> <span data-key="t-dashboards">Zodiacs</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "Service" && currentAction == "Services" ? "active" : "")" asp-controller="Service" asp-action="Services" role="button">
                            <i class="ri-service-line"></i> <span data-key="t-dashboards">Services</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "Banner" && currentAction == "Banners" ? "active" : "")" asp-controller="Banner" asp-action="Banners" role="button">
                            <i class="ri-image-edit-line"></i> <span data-key="t-dashboards">Banners</span>
                        </a>
                    </li>
                }
                else if (User.IsInRole("TarotReader"))
                {
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "Schedule" && currentAction == "Schedule" ? "active" : "")" asp-controller="Schedule" asp-action="MySchedule" role="button">
                            <i class="ri-calendar-event-line"></i> <span data-key="t-dashboards">My Schedule</span>
                        </a>
                    </li>
                }
            </ul>


        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->